/*------------------------------------------------------------------
[saleshill Stylesheet 3]

Project:    saleshill
Version:    1.0
Created:    23 October 2018

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Color codes]

    Option Color 1 : #ff2832;

    Option Color 2 : #365db5;

    Option Color 3 : #38b04a;

-------------------------------------------------------------------*/
#main.inbox {
	background-color: #f6f8fa;
}
.msg-list-wrap, .msg-detail {
	background-color: #ffffff;
}
.hpanel .panel-body {
    background: #fff;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}
.mg-b-15 {
    margin-bottom: 20px;
}
.msg-list-wrap ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.hpanel .panel-heading.hbuilt.mailbox-hd {
    padding: 20px 20px 0px 20px;
}
.msg-detail .form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    height: 40px;
    box-shadow: none;
}
.input-sm {
    font-size: 14px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group-btn .btn, .form-bc-ele .btn {
    padding: 10px 12px;
}
.active-hook .btn-default {
    transition: all .4s ease 0s;
    outline: none;
}
.inbox-body {
    padding-bottom: 20px;

}
.btn-compose {
    color: #fff !important;
    padding: 12px 0;
    text-align: center;
    width: 100%;
	font-size: 14px;
}
.btn-compose:hover {
    background: none repeat scroll 0 0 #f5675c;
    color: #fff;
}
.mailbox-hd {
    background: #fff;
}
.inbox-bt-mg{
    margin-bottom:15px;
}
.mg-b-23 {
    margin-bottom: 23px;
}
.mg-b-20, .mg-b-23 {
    margin-bottom: 20px;
}
ul.mailbox-list li.active a, ul.h-list li.active a {
    background: #f7f9fa;
    border: 1px solid #e4e5e7;
    font-weight: 600;
    border-radius: 1px;
}
ul.mailbox-list li a, ul.h-list li a {
   padding: 8px 15px;
    display: block;
    font-size: 14px;
	transition:all .4s ease 0s;
	color:#303030;
}
ul.mailbox-list li a:first-child{
	margin-top:0px;
}
.mailbox-hd {
    background: #fff;
}
.mailbox-pagination {
    text-align: right;
}
.table.table-mailbox>tbody>tr>td, .table.table-mailbox>tbody>tr>th, .table.table-mailbox>tfoot>tr>td, .table.table-mailbox>tfoot>tr>th, .table.table-mailbox>thead>tr>td, .table.table-mailbox>thead>tr>th {
    padding: 0px;
    vertical-align: middle;
	white-space:nowrap;
}
.table-mailbox tr.unread td a {
    font-weight: 600;
    font-size: 14px;
}
.panel-body a {
    font-size: 14px;
    color: #444;
    margin-top: 15px;
	transition:all .4s ease 0s;
}
.contact-footer, .panel-footer {
    background: #F6F8FA;
}
.active-hook .btn-default{
	transition:all .4s ease 0s;
	outline:none;
}
.active-hook .btn-default:active{
	transition:all .4s ease 0s;
	outline:none;
}
.active-hook .btn-default:hover, .active-hook .btn-default:active, .active-hook .btn-default:focus{
	background: #ff1739;
	color:#fff;
	border:1px solid #ff1739;
	transition:all .4s ease 0s;
}
.hpanel.email-compose {
    background: #fff;
	padding:20px;
}
.hpanel .panel-body.panel-csm{
	border: 0px solid rgba(0,0,0,.12);
}
.mailbox-view .panel-heading, .hpanel.email-compose .panel-heading {
    padding: 0px 0px 10px 0px;
}
.panel-heading.hbuilt.mailbox-hd{
	padding: 20px 20px 0px 20px;
}
.table.table-hover.table-mailbox{
	margin-bottom:0px;
}
.custom-address-mailbox {
    margin-bottom: 20px;
}
.file-body i.fa {
    font-size: 40px;
	padding:20px 0px;
}
.incon-ctn-view{
	text-align:center;
}
.btn-success.compose-btn {
    background-color: #006DF0;
    border-color: #006DF0;
    color: #fff;
	margin-top:0px;
}
.panel-body.no-padding{
	box-shadow:none;
}
.panel-body p {
    font-size: 14px;
    color: #303030;
    line-height: 24px;
}
.btn-primary.ft-compse {
    background-color: #006DF0;
    border-color: #006DF0;
    color: #fff;
}
.cts-ml-in {
    margin-top: 20px;
}
.cts-ml-in input[type="text"] {
    font-size: 14px;
    padding: 6px 15px;
    display: block;
}
.cts-ml-in .btn-default {
    padding: 8px 15px;
    color: #303030;
    font-size: 14px;
}
.ib-btn-gp button{
	font-size:14px;
	color:#303030;
}
.ib-tb .label-warning{
	background:#006DF0;
}
.ib-tb .label-info{
	background:#933EC5;
}
.ib-tb .label-danger{
	background:#D80027;
}
.ib-ml-ft {
    font-size: 14px;
    color: #fff;
	background: #47879e;
}
ul.mailbox-list li i {
    margin-right: 5px;
}
.input-sm{
	font-size:14px;
}
.compose-multiple-email .multipleInput-container {
    height: 55px;
    padding: 5px;
}
.multipleInput-container {
    border: 1px #ccc solid;
    padding: 1px;
    padding-bottom: 0;
    cursor: text;
    font-size: 13px;
    width: 100%;
    height: 40px;
    overflow: auto;
    background-color: white;
    border-radius: 0px;
	padding:0px 10px;
}
.multipleInput-container ul {
    list-style-type: none;
    padding-left: 0px !important;
}
.multipleInput-container input {
    font-size: 13px;
    width: 150px;
    height: 24px;
    border: 0;
    margin-bottom: 1px;
    outline: none;
}
.email_search {
    width: 100% !important;
}
li.multipleInput-email {
    float: left;
    margin-right: 2px;
    margin-bottom: 1px;
    border: 1px #006DF0 solid;
    background: #006DF0;
    color: #fff;
    padding: 4px 10px;
    border-radius: 2px;
}
li.multipleInput-email a{
    background: #none;
    color: #fff;
    margin-left: 4px;
    display: inline-block;
    padding: 0px 1px;
}
.form-horizontal .control-label{
	padding-top: 10px;
}
.panel-body .note-editor.note-frame.panel.panel-default{
	margin-bottom: 0px;
}
.panel-body .dropmail{
	margin-bottom:20px;
	margin-top:20px;
}
.dropmail .dropzone.dz-clickable .dz-message{
	border: 1px #fff solid;
}
.dropmail .download-custom i{
	color:#999;
	font-size:30px;
}
.dropmail .download-custom h2{
	color:#999;
	font-size:16px;
}
.dropmail .download-custom p{
	color:#999;
}
.dropmail .dropzone.dropzone-custom{
	border: 2px dashed #999;
}
.contact-panel-cs .contact-footer, .contact-panel-cs .panel-footer{
	background:#006DF0;
}
.form-control.dt-tb{
	height:35px;
}
.ft-pn{
	background:#F6F8FA;
}
.ft-pn a{
	font-size:14px;
	color:#303030;
}
td.text-right.mail-date {
    padding-right: 15px !important;
}
.static-table-list .table{
	margin-bottom:0px;
}
.hpanel.email-compose .panel-body{
	padding:0px;
}

.msg-detail input[type="checkbox"] + span {
    font-size: 13px;
    line-height: 19px;
    position: relative;
}
.msg-detail  input[type="checkbox"] {
    display: none;
}
.msg-detail input[type="checkbox"] + span::before {
    content: '';
    display: block;
    float: left;
    border: 1px solid #e9e9e9;
    width: 15px;
    height: 14px;
    background: linear-gradient(#cccccc, #dddddd);
    margin-top: 3px;
    margin-right: 7px;
}

.msg-detail input[type="checkbox"] + span::after{
    
    font-family: "Font Awesome 5 Free";
	content: "\f00c";
    display: block;
	font-weight: 900;
    top: 0;
    left: -21px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
	
}
.msg-detail input[type="checkbox"]:checked + span::after{
    opacity: 1;
    filter: alpha(opacity=100);
}


.msg-detail span {
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    text-align: left;
    font-weight: 400;
}
.msg-detail label {
	margin-bottom: 10px;
	margin-top: 10px;
	left: 5px;
}

